@media(max-width:980px)
{
    /* .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }

    .search-box{
        width: 100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }


    .menu-bar ul li{
        height: 57px;
        width: 100%;
    } */
}

@media(max-width:600px){
    .hover-icon {
        position: absolute;
        bottom: 202px;
        left: 75px;
        visibility: hidden;
        transition: all 1s ease-in;
    }
    .catagry-1 p {
        font-size: 20px;
        color: gray;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0 !important;
    }
    .one h3{
        margin-bottom: 81px;
        font-size: 29px;
    
    }

    .scard {
        position: absolute;
        bottom: 54px;
        background-color: #e00240;
        width: 78vw;
        left: 30px;
        text-align: center;
        padding: 10px;
    }

    .socard img {
        width: 375px;
        position: absolute;
        top: 0px;
        margin-left: -61px;
        transition: all 1s ease;
    }

    .socard .round-card {
        position: "";
        width: 192px;
        height: 193px;
        margin-top: 84px;
        margin-left: 64px;
        background-color: #000;
        border-radius: 101px;
    }
    /* .swiper-slide{
        height: 400px !important;
    }
    .swiper-slide img{
      height: 400px;
    } */

    .swiper {
        width: 100%;
        height:50vh;
      }

      .catagry h3{
        font-size: 41px;
      }

      .navbar-nav{
        text-align: center;
      }
      .token{
        text-align: center;

        text-align: center;
        padding-top: 12px;
        font-size: 26px;
        padding-bottom: 13px;
}
.token .fa {
    margin-right: 25px;
    font-size: 28px;
    color: white;
}
.nav-link {
    color: white;
    font-size: 21px;
    font-weight: 600;
}
      
}