@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dancing+Script&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f3f4;
    font-family: sans-serif;
    font-family: "Alegreya", serif;

}
/* .header-wrapp{
    margin-top: 65px;
    z-index: 9999;
} */
/* .top-header{
    position: relative;
    z-index: 9999;
} */
/* .page-header{
    position: absolute;
    /* top: 50px; */
    /* top: 50px;
    right: 0;
    left: 0;
    padding: 20px 0;
    z-index: 1;
    background-color: white */
 
/* .is-sticky{
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
} */

/* .top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom:3px solid orange;
    z-index: 2;

} */

:root {
    --bg-color-primary: #e00240;
    --bg-secondary-color: #f2f3f5;
    --bg-secondary-color: #F1F6FB;
    --transition: all .3s ease-in-out;
    --dark: #000;
    --text-color-primary: #747474;}
.logo{
     
  height: 40px;
  margin: 5px 10px;
}
 
.nav-item{
margin-left: 10px;

} 
.nav-link{
    color:white;
    font-size: 18px;
    font-weight: 600;
}

.nav-link:hover{
    color: crimson;
}
.fa-magnifying-glass{
    color: #fff !important;
}

 .active:hover{
    color: crimson !important;
 }
.active{
    color: #fff !important;
}

/* .menu-bar{
    width: 40%;
    height: 57px;
    float: right;
    
   
} */
 .search-input input{
    border: none;
    border-radius: 10px;
    padding: 3px;
    margin-right: 5px;
    display: none;
}
 
.navbar-expand-lg{
  background-color: cornflowerblue;
  
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(62, 62, 161) 35%, rgba(0,212,255,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
 
.fa-basket-shopping{
    margin-right: 5px;
}
.token .fa{
    margin-right: 25px;
    font-size: 18px;
    color: white;
}

/* swipper slider */


.swiper {
    width: 100%;
    height:76vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide1 .swiper-pagination-bullets .swiper-pagination-bullet{
    
    width:.9375rem ; 
    height: .9375rem ;
    margin-bottom: 10px;
    background-color:var(--bg-color-primary);
    border: 0.0625rem solid var(--bg-white);
 
 }
 .hover-icon span i{
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-left: 2px;
}

 

 .catagry-card{
     position: relative;
 }
 .hover-icon span{
    padding: 8px;
    background-color: crimson;
    margin: 10px;
}
.hover-icon {
    position: absolute;
     bottom: 140px;
    left: 22px;
     visibility: hidden;
    
    transition: all 1s ease-in;
    
}
.catagry-1{
   position: relative;
   text-align: center;
    
}
.catagry-1:hover .hover-icon{
     visibility: visible;
    /* transform: scale(1.1); */
    transform: translateY(-20px);
    
    
}
.catagry-1 p{
    font-size: 12px;
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}
.tooltip-size {
    border: 2px solid gray;
    width: 25px;
    height: 25px;
    /* background-color: #e00240; */
    border-radius: 50px;
    margin: 3px;
    align-items: center;
    text-align: center;
}
 .ineerdiv{
    
        background-color: crimson;
        margin: 2px;
        width: 17px;
        height: 17px;
        position: relative;
        z-index: 1;
        border-radius: 50px;
    }
.in2{
    background-color: green;
}
.in3{
    background-color: blue;
}
.color-tip{
    display: flex;
    justify-content: center;
}

/* .catagry-1:hover{
    background-image: url(images/modern-banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.card{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 transition: all 1s ease;
}
.card:hover{
 
    transform: translateY(-15px);
}

/*  card2...................... */  

.imgg{

    width: 551px;

}
.imgg img{ 
    width: 100%;

}
.imgg:hover{
    background-color: #000;
    opacity: 0.6;
}
.twocard{
    position: relative;
}
.scard{
    position: absolute;
    bottom: 54px;
    background-color: #e00240;
    width: 30vw;
    left: 30px;
    text-align: center;
}
.scard p {
    text-align: center;
    color: white;
    margin-top: 10px;
}
.scard .btn{
    text-align: center;
    background-color: white;
    margin-bottom: 13px;
    width: 123px;
    color: black;
}


/* hover card css.............. */  
.card-deatails{
     background-color: rgba(0,0,0, .8);
     position: fixed;
     top: 0;
     left: 0;
   z-index: 1;
   padding-top: 50px;
   padding-bottom: 50px;
   width: 100%;
    display: none; 

   
}

.card-deatails .data1.active{
    display:inline-block;
}


/* card 3 section  .......................*/

.socard{
    height: 400px;
    position: relative;
    background: linear-gradient(#e7d5d5, #c8cbea);

}

.socard .round-card {
    position:  "";
    width: 192px;
    height: 193px;
   margin-top : 84px;
    margin-left: 34px;
    background-color: #000;
    border-radius: 101px;
}

.socard img {
    width: 326px;
    position: absolute;
    top: 0px;
    margin-left: -28px;
    transition: all 1s ease;
}
 

.round-card{
    visibility: hidden;
    transition: all 1s ease;
}
.soodiv {
    /* width: 161px; */
    /* height: 107px; */
    position: absolute;
    top: 77px;
    left: 1px;
}

.socard:hover .round-card{
   visibility: visible;
   transform: scale(1.1);
   z-index: -1;
}
.socard:hover img{
    transform: scale(1.2);
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    justify-content:space-around ;
}
.card-text .btn-succes{
    background-color: #e00240;
    border-radius: 0px;
    color: white;
    /* margin-right:10px; */
    
}
form{
   
    background-color: cornsilk;
    width: 40vw;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.popup-form{
    display: none;
}
 

.popup-form {
    margin-bottom: 20px;
    background-color: #e00240;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* card row 2 css */

.mycard{
    position:relative;
}
.mycard img{
    height: 327px;
}
.hoverimg{
    position: absolute;
    left: 47px;
    visibility: hidden;
}

.mycard:hover .showimg{
    visibility: hidden;
}
.mycard:hover .hoverimg{
    visibility: visible;
}

.details{
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.details span{
    font-size: 20px;
    color: chocolate;
    font-weight: 600;
}

.accordion-button{
    color: #f00a32;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: lavender;
}
.accordion-header{
    margin-bottom: 25px;
}

.slider-card .hide1{
    width: 230px;
}


.slider-card .show1{
    width: 230px;
}
.swiper-slide .slider-card{
     position: relative;

}

.slider-card .hide1{

   
    position: absolute;
    left: 0px;
    top: -19px;
    z-index: -1;
    transform: scaleX(1);
    transition: all 2s ease;
}



.slider-card:hover .show1{
  visibility: hidden;
  transform: scaleX(1);
  

}
.slider-card .hide1{
   
    visibility: hidden;
    transform: scaleX(1);
}

.slider-card:hover .hide1{
    visibility: visible;
    transform: scaleX(1);
}
/* footer */
.main-footer{
background-color: #e00240;

background-color: cornflowerblue;
background: linear-gradient(90deg rgba(#e66465),53% rgba(#9198e5));

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(62, 62, 161) 35%, rgba(0,212,255,1) 100%);
}

.main-footer ul li{
   list-style: none;
}
.main-footer a{
 text-decoration: none;
 color: #fff;
}
.main-footer h3{
    color: #fff;
    margin-left: 28px;
}
.main-footer .f-logo p{
    color: #fff;
    text-align: justify;
    margin-top: 28px;
}

.main-footer ul{
    margin-top: 28px;
}
.f-details li{
    position: relative;
    margin-top: 10px;
}
.f-details li::before{
    content: "";
   position: absolute;
  width: 3%;
  height: 3px;
  background-color: #f00a32;
  left: 0;
  top: 20px;
  transition: 2s ease-in-out;
}
.f-details li:hover::before{
    width: 50%;
}

.two .order-md-last{
    margin-top: 44px;
}
