 *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
 }
 .top-header{
    background-color: #0f1111;
    color: white;
    height: 60px;
 }
 .nav-logo{
    height: 50px;
    width: 100px;
    display: flex;
 }
 .nav-logo
 .logo img{
    width: 100px;
    height: 50px;
}
 .border{
    border: 2px solid transparent;
 }
 .border:hover{
    border: 2px solid white;
 }

 .nav-logo{
   display: flex;
 }
 .seceand{
   /* display: flex; */
 }

 .update i{
   color: white;
 }
 .upper-header{
   width: 100%;
 }
 .update{
 
  /* display: flex; */

 }
 .update i{

 }
 